* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

#header {
    padding: 30px 0;
    width: 100%;
    position: fixed;
    overflow: auto;
}
#header .logo {
    padding-left: 8rem;
}
#header .logo a {
    float: left;
    color: #000;
}
#header .navigation {
    padding-right: 8rem;
}
#header .navigation a {
    float: right;
    color: #000;
    margin-left: 30px;
}
#first {
    background-image: url("https://startbootstrap.github.io/startbootstrap-clean-blog/assets/img/contact-bg.jpg");
    padding: 13rem 0;
    background-size: cover;
    background-position: center;
    font-weight: bold;
    text-align: center;
}
#first h1 {
    font-size: 80px;
}
#first span {
    font-size: 24px;
}
#second {
    width: 45%;
    margin: auto;
    text-align: left;
    padding: 5rem 0 ;
}
#second p{
    font-size: 25px;
}
form{
    width: 45%;
    margin: auto;
    text-align: left;
}
form .inputs{
    padding: 20px 35%;
    margin-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
    text-align: left;
} 
form textarea{
    max-width: 102%;
}
form button{
    margin: 20px 0;
    padding: 15px 30px;
    background-color: #0085A1;
    color: #fff;
    border: none;
    border-radius: 20px;
}
#third {
    padding: 3rem 0;
}
#third h5 {
    font-size: 20px;
    text-align: center;
}